<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Manage Enquiry
        <!-- <small>(List of all available enquirys)</small> -->
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Enquiry</a></li>
        <li class="active">Manage Enquiry</li>
      </ol>
    </section>

    
    <!-- Main content -->
    <section class="content">
            <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">List of enquiries</h3>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <i *ngIf="filter">Search by: <b>{{filter}}</b></i>
              <!-- search form -->
              <div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 200px;">
                      <input type="text" name="search" [(ngModel)]="filter" class="search-box form-control" placeholder="Search...">
                      <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                        </button>
                      </span>
                    </div>
                <!-- <button type="button" class="btn btn-box-tool" data-widget="collapse">
                  <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove">
                  <i class="fa fa-times"></i>
                </button> -->
              </div>
              <!-- /.search form -->
            </div>
            <!-- /.box-header -->
            
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                    <tr>
                      <th (click)="sort('name')">Name
                          <span class="fa fa-sort" *ngIf="key =='name'"></span>
                      </th>
                      <th (click)="sort('contact')">Contact No
                          <span class="fa fa-sort" *ngIf="key =='contact'"></span>
                      </th>
                      <th (click)="sort('email')">Email
                          <span class="fa fa-sort" *ngIf="key =='email'"></span>
                      </th>
                      <th (click)="sort('address')">Address
                          <span class="fa fa-sort" *ngIf="key =='address'"></span>
                      </th>
                      <th (click)="sort('date')">Enquiry Date
                          <span class="fa fa-sort" *ngIf="key =='date'"></span>
                      </th>
                      <th (click)="sort('about')">Enquiry About
                          <span class="fa fa-sort" *ngIf="key =='about'"></span>
                      </th>                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor='let enquiry of enquiryList | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 10, currentPage: p };'>
                      <td>{{enquiry.name}}</td>
                      <td>{{enquiry.contact}}</td>                      
                      <td>{{enquiry.email}}</td>                      
                      <td>{{enquiry.address}}</td>                      
                      <td>{{enquiry.date}}</td>                      
                      <td>{{enquiry.about}}</td>                      
                      <td>
                          <a [routerLink]="['/editenquiry', enquiry._id]" class="btn btn-sm btn-primary">
                            <i  class="fa fa-pencil"></i>
                          </a>
                          <button class="btn btn-sm btn-danger" (click)="deleteEnquiry(enquiry)">
                              <i  class="fa fa-trash"></i>
                          </button>
                      </td>                                          
                    </tr>                                      
                  </tbody>           
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <pagination-controls class="pull-right" (pageChange)="p = $event"></pagination-controls>
                <a routerLink="/addenquiry" class="btn btn-sm btn-info btn-flat pull-left">
                  Add Enquiry
                </a>
            </div>
            <!-- /.box-footer -->
          </div>
  
    </section>
    <!-- /.content -->
  </div>
  